dug {
    runOptions = "--bind $PWD"
}

process {
  executor = 'slurm'
  queue = 'curtin_ccdm'
  clusterOptions = '--constraint=clx'

  // These are default values used for anything not specified with a label.
  cpus = 4
  memory = 8.GB

  withLabel: download {
    errorStrategy = "retry"
    maxRetries = 5
  }

  withLabel: small_task {
    cpus = 1
    memory = 1.GB
  }

  withLabel: medium_task {
    cpus = 4
    memory = 3.GB
  }

  withLabel: biggish_task {
    cpus = 4
    memory = 6.GB
  }

  withLabel: big_task {
    cpus = 4
    memory = 8.GB
  }

}

env.http_proxy = "http://proxy.per.dug.com:3128"
env.https_proxy = "http://proxy.per.dug.com:3128"

executor {
  queueSize = 10
}

singularity {

          enabled = true
          runOptions = "-B /data"
          container = "library://kristinagagalova/default/pante2-legacy:v1.0.0"
    }
