dug {
    runOptions = "--bind $PWD"
}

process {
  executor = 'slurm'
  queue = 'curtin_ccdm'
}

env.http_proxy = "http://proxy.per.dug.com:3128"
env.https_proxy = "http://proxy.per.dug.com:3128"

singularity {

          singularity.enabled = true
          singularity.runOptions = "-B /data"
          process.container = "library://kristinagagalova/default/pante2-legacy:v1.0.0"
    }

