// Enable use of Singularity to run containers
singularity {
  enabled = true
  autoMounts = true
  runOptions = "--bind $PWD"
}

executor {
  // This function limits the number of job submissions for smaller machines
  submitRateLimit = '1 / 1min'
}

process {
  // These are default values used for anything not specified with a label.
  cpus = 4
  memory = 8.GB

  withLabel: download {
    errorStrategy = "retry"
    maxRetries = 5
  }

  withLabel: small_task {
    cpus = 1
    memory = 1.GB
  }

  withLabel: medium_task {
    cpus = 4
    memory = 3.GB
  }

  withLabel: biggish_task {
    cpus = 4
    memory = 6.GB
  }

  withLabel: big_task {
    cpus = 4
    memory = 8.GB
  }
}
